.members{

display:grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
gap:40px;

}

.member{

position:relative;

display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;

text-align:center;

padding:25px;
background:white;

border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);

transition:0.3s;

height:260px;

}
.member h3{

margin-top:10px;
margin-bottom:8px;
font-size:18px;

}

.member p{

font-size:14px;
line-height:1.4;
max-width:200px;

}

.external-icon{

position:absolute;
top:10px;
right:12px;
font-size:18px;
color:#0b3c5d;
opacity:0;
transition:0.3s;

}

.member:hover .external-icon{

opacity:1;
transform:translateY(-2px);

}

.member:hover{

transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.15);

}

.member img{

width:110px;
height:110px;
border-radius:50%;
object-fit:cover;

}

.placeholder{

width:120px;
height:120px;
border-radius:50%;
background:#cccccc;
margin:auto;

}

.member-link{

text-decoration:none;
color:inherit;

}

.member-link:hover{

cursor:pointer;

}